<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}/v2.0"/>
    <add key="ida:Tenant" value="538bf3b7-8deb-4179-9c63-f09d13f65838"/>
    <add key="ida:ClientId" value="55452dda-4193-4bbb-95ae-135016c8621f"/>
    <add key="todo:TodoListScope" value="api://129415c4-b338-4222-aa42-ec1e0167c613/access_as_user"/>
    <add key="todo:TodoListBaseAddress" value="https://localhost:44351/"/>
  </appSettings>
</configuration>
